@charset "UTF-8";

body {
    font-family: var(--fonte-padrao);
    color: white;
    background-image: linear-gradient(to bottom, var(--cor5), var(--cor3));
}

header {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    padding: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.navegador .lista-do-navegador {
    display: flex;
    text-align: center;
    gap: 10px;
}

.navegador .lista-do-navegador .item {
    color: var(--cor1);
    text-decoration: none;
    transition-duration: 0.3s;
    padding: 10px;
}

.navegador .lista-do-navegador .item:hover {
    text-decoration: none;
    background-color: var(--cor3);
    border-radius: 5px;
}

main {
    margin: auto;
    padding: 30px;
    display: flex;
    text-align: justify;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
}

section.saudacao {
    margin: auto;
    padding: 30px;
    display: fblock;
    text-align: justify;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
}

.titulo {
    text-align: center;
    align-items: center;
    margin: 20px;
    font-size: 50px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.39);
}


main div img {
    margin: 30px;
    border-radius: 50%;
    width: 300px;
}

main p {
    font-size: 20px;
    padding-left: 100px;
}




footer {
    background-color: var(--cor5);
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.footer-logo {
    padding: 10px;

}

.slogan {
    padding: 10px;
    font-size: 25px;
}

.contatos {
    display: flex;
    margin: auto;
    padding: 10px;
}


.contatos .icone img {
    width: 60px;
    margin: 10px;
    border-radius: 50%;
    box-sizing: border-box;
}

.contatos .icone img:hover {
    transform: translate(0px, -4px);
    transition: transform .3s;
    border: 2px solid white;


}

.roda-pe {
    padding: 10px;
    font-size: 20px;
}







::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #313131;
}

::-webkit-scrollbar-thumb {
    background-color: var(--cor2);
    border-radius: 35px;
}