@media (max-width: 555px) {
    .navegador .lista-do-navegador {
        flex-direction: column;
    }

    .titulo {
        font-size: 35px;
    }

    .imagem img {
        width: 350px;
    }

    .slogan {
        font-size: 20px;
    }

    .contatos .icone img {
        width: 50px;
    }

    .roda-pe {
        font-size: 15px;
    }

}

@media (max-width: 400px) {
    .titulo {
        font-size: 30px;
    }

    .imagem img {
        width: 275px;
    }

    .slogan {
        font-size: 15px;
    }

    main{
        margin: auto;
        display: block;
        justify-content: center;
        align-items: center;
        
    }

    main div img {
        width: 200px;
    }

    main p {
        padding: 0px;
        font-size: 16px;
        text-align: justify;
        justify-content: center;
    }

    .contatos .icone img {
        width: 32px;
    }

    .roda-pe {
        font-size: 10px;
    }
}

@media (max-width: 360px) {
    .titulo {
        font-size: 25px;
    }
}